*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box2{
    width: 40vw;
    height: 447px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo2{
    /*background-color: #ABABAB;
    width: 288px;
    height: 279px;*/
}
.box2_1{
    justify-content: center;
    flex-direction: column;
}
.my{
    margin-top: 40px;
}
.gamelobby {
    height: 30vw;
}
.smalltext1{
    font-size: 20px;
    color: black;
    list-style: disc;
}